* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: white;
}
body {
  background: rgb(16, 0, 61);
  background: radial-gradient(
    circle,
    rgba(16, 0, 61, 1) 0%,
    rgba(4, 143, 238, 1) 100%
  );
}
/*Estilo para la barra nav */
.barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #01073b;
  color: #fff;
  width: 100%;
  clear: both;
}

.logo img {
  max-width: 90%;
  height: 9vh;
}

.links {
  display: flex;
  margin: auto;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  margin-left: 6rem;
}
.links a:hover{
  cursor: pointer;
  color: #4d58b9;
}

/* Estilos para hacer la barra de navegación responsive */
@media screen and (max-width: 768px) {
  .barra {
    flex-direction: column;
    align-items: flex-start;
  }

  .links {
    margin-top: 1rem;
  }

  .links a {
    margin: 0.5rem 0;
  }
}
/*Contenedor de Productos*/
h1{
  margin-top: 10px;
  text-align: center;
  font-size: 50px;
}
.container-items{
  box-sizing: border-box;
  text-align: center;
  font-size: 1.4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  max-width: 80%;
  margin: 20px auto;
  
}
.product-container{
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 10px;
}

/*Estilo para todos los div */
.container{
  font-size: 1.8rem;
  border: 3px solid aqua;
  border-radius: 20px;
  margin: 20px auto;
  max-width: 70%;
  max-height: 200vh;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}
/* Estilo para botones */
.bot{
  font-size: 1.3rem;
  background-color: rgb(86, 137, 204);
  padding: 10px;
  margin: 20px auto;
  cursor: pointer;
  color: blue;
  border: 2px solid rgb(104, 104, 153);
  border-radius: 5px;
}

.bot:hover{
  background-color: rgb(10, 163, 112);
  color: rgb(15, 19, 15);
}
